body {
    background-color: lightslategray;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    /* margin-top: 25px; */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.task form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.task input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.task button {
    padding: 8px 15px;
    /* margin-left: 50px; */
    background-color: #4caf50;
    /* color: #fff; */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.task button:hover {
    background-color: #45a049;
}

#list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#list li {
    display: flex;
    align-items: center;
    padding: 10px;
    /* background-color: #f0f0f0; */
    background-color: #45a049;
    margin-bottom: 10px;
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 18px;

}

#list li button {
    /* margin-left: 5px; */
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    
}
/* #ab{
    margin-left: 340px;
} */

#list li button:hover {
    color: white;
}

#list li:first-child {
    margin-top: 10px;
}

#list li:last-child {
    margin-bottom: 0;
}